node_modules
.env
public/assets/content/*
public/assets/items/*
public/assets/events/*
public/assets/news/*
public/qrcodes/*
public/uploads/*
public/backup/*
public/pdfs/*
prisma/migrations/*
certs
logs
*.log
app.js
package-lock.json
