<div>
    <div>
        <img src="cid:0" alt="Logo">
        <h1>Keraton Kasepuhan Cirebon</h1>
    </div>
    <h1>Ini Subscription</h1>
    <h1><% title %></h1>
    <img src="cid:1" alt="Gambar Event">
    <p><% desc %></p>
    <a href="<% link %>"></a>
</div>