body {
  font-family: Arial, sans-serif;
}
.bold {
  font-weight: 600;
}
h6,
p {
  padding: 0;
  margin: 0;
}

h1,
h3 {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  color: #dfb032;
}

.invoice {
  width: 100%;
  border: 1px solid #000;
  margin: 2rem 0;
}
.invoice-logo {
  width: 150px;
}

.invoice-header {
  display: flex;
  gap: 1rem;
  background-color: #eed184;
  padding: 1rem;
}

.invoice h6 {
  font-weight: 600;
}

.invoice-header_content {
  width: 100%;
  gap: 1rem;
  background-color: #eed184;
  padding: 1rem;
}
.invoice-header_content h6:nth-child(3) {
  margin-top: 1rem;
}
.invoice-header_content p {
  margin-left: 1rem;
}
.invoice-header_time {
  min-width: 10rem;
  padding-top: 1rem;
}

.invoice-main {
  padding: 1rem;
}

.invoice-ticket {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
}
.invoice-ticket_main {
  width: 100%;
}

.invoice-ticket_total {
  min-width: 6rem;
}
